{% extends 'base.html' %}
{% block title %} Lista studentów {% endblock %}

{% block content %}

<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input value="Dodaj" type="submit" />
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Imię</th>
        </tr>
    </thead>
    <tbody>
        {% for uczen in uczniowie %}
            <tr>
                <td><a href="student/{{ uczen.id }}">{{ uczen.imie }}</td>
                <td>
                    <form method="POST" action="{{ BASE_URL }}/students/student/delete/{{ uczen.id }}/">
                        {% csrf_token %}
                        <input type="submit" value="Usuń"/>
                    </form>
                </td>
                <td><a href="{{ BASE_URL }}/students/student/edit/{{ uczen.id }}">Edytuj</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}